<%# total, valid, invalid %>
<% valid_percent = 100.0 * valid / total %>
<% invalid_percent = 100.0 * invalid / total %>
<div class="progress">
	<% if valid>0 %>
  		<div class="progress-bar bg-success" role="progressbar" style="width: <%=valid_percent%>%" aria-valuenow="<%=valid%>" aria-valuemin="0" aria-valuemax="<%= total %>"><%=valid%></div>
  	<% end %>
  	<% if invalid>0 %>
	  <div class="progress-bar bg-danger" role="progressbar" style="width: <%=invalid_percent%>%" aria-valuenow="<%=invalid%>" aria-valuemin="0" aria-valuemax="<%= total %>"><%=invalid%></div>
	<% end %>
</div>