<h1>Admin</h1>
<ul>
  <li><%= link_to 'Update Datas', update_gripau_data_admins_path  %>: Pulls gripau-data repository and imports its exercices</li>
  <li><%= link_to 'Teacher list', teachers_path  %></li>
  <li><%= link_to 'Execute all tests', execute_all_tests_admins_path %></li>
  <li><%= link_to 'Import Teachers & Students', import_students_admins_path %>: Pulls gripau-data repository and imports teachers & students</li>
  <li><%= link_to 'View all students', index_with_results_students_path(all: true)  %>: Display results for all the students (not only yours)</li>
</ul>