
<div class="form-signin text-center">
  <h1 class="gripau-title">Gripau</h1>
  <%= image_tag("toad_photo_cut.jpg", :alt => "gripau", class:"mb-4 gripau-icon") %>
  
  

  <!--p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p-->
  <%= link_to user_google_oauth2_omniauth_authorize_path do %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <% end %>
</div>


