<h3>Repositories</h3>
<table class="table table-striped">
  <tbody>
    <% student.repositories.each do |repository| %>
      <tr>
        <%= render repository %>
      </tr>
    <% end %>
  </tbody>
</table>
