
<div>
  <%= turbo_stream_from dom_id(student, "own_results_resumee") %>
  <%= turbo_frame_tag dom_id(student, "own_results_resumee"), class:"div-table-striped" do %>
    <% student.student_submissions.each do |student_submission| %>
      <%= render partial: "student_submissions/results_resumee", locals: {student_submission: student_submission, user: current_user}%>
    <% end %>
  <% end %>
</div>
