<p>
  <strong>Username:</strong>
  <%= student.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= student.name %>
</p>

<p>
  <strong>Surnames:</strong>
  <%= student.surnames %>
</p>

<p>
  <strong>Email:</strong>
  <%= student.email %>
</p>