<%= render partial: student, layout: "students/show_student_atts"%>

<%= render partial: student, layout: "students/submissions_table"%>

<%= render partial: student, layout: "students/repositories_table"%>


<h3>Results</h3>
<%= render partial: student, layout: "students/results_resumee_table"%>

<%= render partial: student, layout: "students/test_executions_table"%>

<%= render partial: student, layout: "students/test_executions_details_table"%>


  
