<h3>Submissions</h3>
<table class="table table-striped">
  <tbody>
    <% student.student_submissions.each do |student_submission| %>
      <tr>
        <%= render student_submission %>
      </tr>
    <% end %>
  </tbody>
</table>
