<h3>Test executions details</h3>
<div data-controller="test-execution">
  <%if current_teacher %>
  <div class="btn btn-primary" data-action="click->test-execution#toggleCheckStyleView">View checkstyle</div>
  <div class="btn btn-primary" data-action="click->test-execution#toggleSourceCodeView">View sources</div>
  <% end %>
  <div data-test-execution-target="resultDetailContainer" class="hide-sources hide-check-style">
  <% student.student_submissions.each do |student_submission| %>
    <h4><%= student_submission.exercice_batch.name %></h4>
    <% test_execution = student_submission.test_execution %>
    <% @test_execution = test_execution%>
    <% if test_execution %>
      <%= render partial: test_execution, layout: "test_executions/test_execution_with_data"%>
    <% end %>
  <% end %>
</div>
  
</div>