<h3>Test Executions</h3>
<table class="table table-striped">
  <tbody>
    <% student.test_executions.last_first.each do |test_execution| %>
      <tr>
        <%= render test_execution %>
      </tr>
    <% end %>
  </tbody>
</table>