<h1>Importers</h1>
<ul>
	<li><%= link_to 'Students', students_path %></li>
	<li><%= link_to 'Repositories', student_repositories_path %></li>
  <li><%= link_to 'Submissions', student_submissions_path %></li>
</ul>

<h1>Results</h1>
<ul>
	<li><%= link_to 'Exercice Batches', exercice_batches_path %></li>
</ul>


<!--h1>Executors</h1>
<%#= form_tag do_import_student_repositories_path, multipart: true do %>
	<%#= select_tag :exercice_batch_id,  options_from_collection_for_select(@exercice_batches, "id", "name")%><br>
	<%#= submit_tag "Import csv" %><br>
<%# end %>
-->