<% student= @student%>
<%= form_with(model: student, local: true, url: update_git_url_student_path(student)) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :git_url %>
    <%= form.text_field :git_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
