<h1>Import CSV</h1>
Select CSV with two columns: student full name and email
<%= form_tag do_import_students_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import csv" %>
<% end %>