<p id="notice"><%= notice %></p>

<h1>Students</h1>


<% @students.each do |student| %>
<div class="student_data">
  <h4>
    <%= link_to student.email, student %>
  </h4>

  <%= render partial: student, layout: "students/results_resumee_table"%>
    
  <%# @test_execution = student.test_executions.last %>
  <%# if @test_execution %>
    <%#= render partial: @test_execution, layout: "test_executions/test_execution_with_data"%>
  <%# end %>
</div>
<% end %>
  