<%= turbo_frame_tag dom_id_for_records(exercice_batch, student) do %>
  <% @test_execution = student.test_executions.where(exercice_batch: exercice_batch).last %>
  <h4 class="student-id">
    <%= student.email %>
  </h4>
  <% if @test_execution %>
    <%= render partial: @test_execution, layout: "test_executions/test_execution_with_data"%>
  <% end %>
<% end %>