<%= simple_form_for(exercice_batch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :data_path %>
    <%= f.input :git_tag %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>