<div class="text-center">
	    <h1 class="cover-heading">Testing</h1>
	    <p class="lead">Gripau is processing bugs. May take a while.</p>
	    <%= image_tag("frog_eating_bug.gif", :alt => "waiting") %>
	</main>
</div>
