<h1><%= @exercice_batch.name %></h1>

<div class="exercice-batch-student-results">
<div data-controller="test-execution">
  <div class="btn btn-primary" data-action="click->test-execution#toggleDetailsView">Hide details</div>
  <div class="btn btn-primary" data-action="click->test-execution#toggleCheckStyleView">View checkstyle</div>

<% exercice_sucess = {}
exercice_fails = {}
@student_submissions.each do |student_submission| 
	test_execution = student_submission.test_execution
	next unless test_execution
	test_execution.exercice_tests_executions.each do |exercice_tests_execution|
		exercice = exercice_tests_execution.exercice 
		if exercice_tests_execution.source_found
			if exercice_tests_execution.success?
				exercice_sucess[exercice.id] = (exercice_sucess[exercice.id] || 0) + 1
			else
				exercice_fails[exercice.id] = (exercice_fails[exercice.id] || 0) + 1
			end
		end 
	end 
end %>

<table class="table">
<% @exercice_batch.exercice_groups.each do |exercice_group| %>
	<% exercice_group.exercices.each do |exercice| %>
		<tr>
			<td class="exercice-name"><%= exercice.class_name %></td>
			<td>
		<% success = exercice_sucess[exercice.id] || 0 %>
		<% failures = exercice_fails[exercice.id] || 0 %>
		<%= render "components/progress_bar", total: @student_repositories.count, valid: success, invalid: failures %></td>
		</tr>
	<% end %>
<% end %>
</table>

