<p id="notice"><%= notice %></p>

<h1>Exercice Batches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Visivility</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercice_batches.each do |exercice_batch| %>
      <tr>
        <td><%= exercice_batch.name %></td>
        <td><%= exercice_batch.results_visivility %></td>
        <td><%= link_to 'Results', student_results_exercice_batch_path(exercice_batch) %></td>
        <td><%= link_to 'Result resumee', student_results_resumee_exercice_batch_path(exercice_batch) %></td>
        <td><%= link_to 'Exercice Stats', exercices_stats_exercice_batch_path(exercice_batch) %></td>
        <td><%= link_to 'Execute', execute_tests_exercice_batch_path(exercice_batch) %></td>
        <td><%= link_to 'Execute FORCED', execute_tests_exercice_batch_path(exercice_batch, force_test: true) %></td>
        <td><%= link_to 'Export sources', export_student_solutions_exercice_batch_path(exercice_batch) %></td>
        <td><%= link_to "Export CSV", student_results_exercice_batch_path(exercice_batch, {:format => :csv }) %></td>
        
        <td><%= link_to 'Make Public', make_public_exercice_batch_path(exercice_batch) %></td>
        <!--td><%= link_to 'Show', exercice_batch %></td>
        <td><%= link_to 'Edit', edit_exercice_batch_path(exercice_batch) %></td>
        <td><%= link_to 'Destroy', exercice_batch, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Import from gripau-data', import_exercice_batches_path %>
<br>

<%= link_to 'New Exercice Batch', new_exercice_batch_path %>
