<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercice_batch.name %>
</p>


<%= link_to 'Edit', edit_exercice_batch_path(@exercice_batch) %> |
<%= link_to 'Back', exercice_batches_path %> | 

<%= link_to 'Test', execute_tests_exercice_batch_path(@exercice_batch) %>
