<p id="notice"><%= notice %></p>

<h1><%= @exercice_batch.name %></h1>

<div class="exercice-batch-student-results">
<div data-controller="test-execution">
  <div class="btn btn-primary" data-action="click->test-execution#toggleCheckStyleView">View checkstyle</div>
  <div class="btn btn-primary" data-action="click->test-execution#toggleSourceCodeView">View sources</div>
  <%= link_to "Export CSV", {:format => :csv }, class: "btn btn-primary" %>

<div data-test-execution-target="resultDetailContainer" class="hide-sources hide-check-style">
  <% @student_submissions.each do |student_submission| %>
  	<% student = student_submission.student %>
  	<%= render partial: "exercice_batch_for_student", locals: {student: student, exercice_batch: @exercice_batch} %>
  <% end %>
</div>

</div>
</div>