<p id="notice"><%= notice %></p>

<h1><%= @exercice_batch.name %></h1>

<div class="exercice-batch-student-results">
<div data-controller="test-execution">
  <div class="btn btn-primary" data-action="click->test-execution#toggleDetailsView">Hide details</div>
  <div class="btn btn-primary" data-action="click->test-execution#toggleCheckStyleView">View checkstyle</div>


<table class="table table-striped">
  <tbody>
<% @student_submissions.each do |student_submission| %>
  <% student = student_submission.student %>
  <tr>
    <td class="exercice_batch_name"><%= student.email %></td>
    <td>
      <% test_execution = student_submission.test_execution %>
      <% if test_execution %>
        <%= render partial: test_execution, layout: "test_executions/result_resumee", locals: {user: current_user}%>
      <% else %>
        <span class="badge badge-danger badge-pill">Never run</span>
      <% end %>
    </td>
    <td style="width: 0px">
      <%= link_to "TestAgain", execute_tests_student_submission_path(student_submission) %>
    </td>
  </tr>
<% end %>

</div>
</div>