<%

require 'csv'
header = ["Email"]
subheader = [nil]
@exercice_batch.exercice_groups.first.exercices.each do |exercice|
  header << exercice.class_name
  header += Array.new(exercice.test_cases.count, nil)
  subheader << "checkstyle"
  exercice.test_cases.each do |test_case|
    subheader << test_case.name
  end
end
%><%= CSV.generate_line header %><%= CSV.generate_line subheader %><%
@student_submissions.each do |student_submission|

  student_row = []
  student = student_submission.student

  student_row << student.email

  test_execution = student.test_executions.where(exercice_batch: @exercice_batch).last
  next unless test_execution
  @exercice_batch.exercice_groups.first.exercices.each do |exercice|
    exercice_tests_execution = test_execution.exercice_tests_executions.find_by(exercice: exercice)
    if !exercice_tests_execution || !exercice_tests_execution.source_found
      cols = exercice.test_cases.count+1
      student_row += Array.new(cols, nil)
    else
      if exercice_tests_execution.check_style_failure.empty?
        student_row << nil
      else
        student_row << exercice_tests_execution.check_style_failure.all.map{|x| x.message}.join(". ")
      end
      
      exercice.test_cases.each do |test_case|
        test_case_execution = exercice_tests_execution.test_case_executions.find_by(test_case: test_case)
        student_row << ((test_case_execution && !test_case_execution.failed?) ? 1 : 0)
      end
    end
  end

  %><%= CSV.generate_line student_row %><% end %>

  
