<%= form_with(model: test_case_execution, local: true) do |form| %>
  <% if test_case_execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_case_execution.errors.count, "error") %> prohibited this test_case_execution from being saved:</h2>

      <ul>
        <% test_case_execution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exercice_tests_execution_id %>
    <%= form.text_field :exercice_tests_execution_id %>
  </div>

  <div class="field">
    <%= form.label :test_case_id %>
    <%= form.text_field :test_case_id %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :test_failure_id %>
    <%= form.text_field :test_failure_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
