<% if test_case_execution.failed? %>
	<tr>
		<td><%= test_case_execution.test_case.name %></td>
		<td>
      <% if test_case_execution.failed? %>
  		  <% test_case_execution.test_failures.each do |test_failure| %>
  				<%= render test_failure %>
  			<% end %>
      <% end %>
		</td>
    <td>
      <% if test_case_execution.failed? and current_teacher%>
        <%= link_to "accept", manual_accept_test_case_execution_path(test_case_execution) %>
      <% end %>
    </td>
	</tr>
<% end %>