<p id="notice"><%= notice %></p>

<h1>Test Case Executions</h1>

<table>
  <thead>
    <tr>
      <th>Exercice tests execution</th>
      <th>Test case</th>
      <th>Time</th>
      <th>Test failure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_case_executions.each do |test_case_execution| %>
      <tr>
        <td><%= test_case_execution.exercice_tests_execution_id %></td>
        <td><%= test_case_execution.test_case_id %></td>
        <td><%= test_case_execution.time %></td>
        <td><%= test_case_execution.test_failure_id %></td>
        <td><%= link_to 'Show', test_case_execution %></td>
        <td><%= link_to 'Edit', edit_test_case_execution_path(test_case_execution) %></td>
        <td><%= link_to 'Destroy', test_case_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Case Execution', new_test_case_execution_path %>
