<p id="notice"><%= notice %></p>

<p>
  <strong>Exercice tests execution:</strong>
  <%= @test_case_execution.exercice_tests_execution_id %>
</p>

<p>
  <strong>Test case:</strong>
  <%= @test_case_execution.test_case_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @test_case_execution.time %>
</p>

<p>
  <strong>Test failure:</strong>
  <%= @test_case_execution.test_failure_id %>
</p>

<%= link_to 'Edit', edit_test_case_execution_path(@test_case_execution) %> |
<%= link_to 'Back', test_case_executions_path %>
