
<h3>Results</h3>
<%= render partial: @student, layout: "students/results_resumee_table"%>

</br>
<h3>Repositories</h3>
<%= render partial: "student_repositories/table", locals:{student_repositories: @student.student_repositories} %>
<%#= link_to 'Add repostiory', new_student_repository_path %>

<%#= render partial: @student, layout: "students/test_executions_details_table"%>

<%#= render partial: student, layout: "students/test_executions_table"%>


  
