<p id="notice"><%= notice %></p>

<h1><%= @exercice_batch.name %></h1>

<div class="exercice-batch-student-results">
<div data-controller="test-execution">
<div class="btn btn-primary" data-action="click->test-execution#toggleCheckStyleView">View checkstyle</div>


<% student = @student_submission.student %>
<%= render partial: "exercice_batches/exercice_batch_for_student", locals: {student: student, exercice_batch: @exercice_batch} %>


</div>
</div>