<%= form_with(model: test_failure, local: true) do |form| %>
  <% if test_failure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_failure.errors.count, "error") %> prohibited this test_failure from being saved:</h2>

      <ul>
        <% test_failure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
