<% if test_failure.diff %>
  <div class="diff_table">
    <div class="diff_left diff_column">
      <%= test_failure.diff.left.html_safe %>
    </div>
    <div class="diff_right diff_column">
      <% if test_failure.diff.right.size < 12000 %>
        <%= test_failure.diff.right.html_safe %>
      <% else %>
        Too long...
      <% end %>
    </div>
  </div>
<% else %>
  <p><span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= test_failure.content %>"><%= test_failure.short_description%></span></p>
<% end %>

<!--td>
	<%= test_failure.failure_type %>
</td-->
<!--
<td>
	<%#= test_failure.content %>
</td>
-->