<p id="notice"><%= notice %></p>

<h1>Test Failures</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Type</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_failures.each do |test_failure| %>
      <tr>
        <td><%= test_failure.message %></td>
        <td><%= test_failure.type %></td>
        <td><%= test_failure.content %></td>
        <td><%= link_to 'Show', test_failure %></td>
        <td><%= link_to 'Edit', edit_test_failure_path(test_failure) %></td>
        <td><%= link_to 'Destroy', test_failure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Failure', new_test_failure_path %>
