<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @test_failure.message %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test_failure.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @test_failure.content %>
</p>

<%= link_to 'Edit', edit_test_failure_path(@test_failure) %> |
<%= link_to 'Back', test_failures_path %>
