<td>
  <%= student_repository.git_url %>
</td>
<td>
  <%= repostiory_validation_as_text(student_repository)%>
</td>
<td>
  <%= link_to 'Validate', validate_student_repository_path(student_repository) %>
</td>