<table class="table table-striped">
  <thead>
    <tr>
      <th>Git url</th>
      <th>Valid?</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% student_repositories.each do |student_repository| %>
      <tr>
        <%= render student_repository %>
        <td><%= link_to 'Show', student_repository %></td>
        <td><%= link_to 'Edit', edit_student_repository_path(student_repository) %></td>
        <td><%= link_to 'Destroy', student_repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>