<p id="notice"><%= notice %></p>

<h1>Student Repositories</h1>

<%= render 'table', student_repositories: @student_repositories %>

<br>

<%= link_to 'New Student Repository', new_student_repository_path %>
<%= link_to 'Import Repositories', import_student_repositories_path %>