<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_repository.student_id %>
</p>

<p>
  <strong>Git url:</strong>
  <%= @student_repository.git_url %>
</p>

<p>
    <%= repostiory_validation_as_text(@student_repository)%>
  </p>

<%= link_to 'Edit', edit_student_repository_path(@student_repository) %> | 
<%= link_to 'Validate', validate_student_repository_path(@student_repository) %>
