<% if test_execution.repository_working? and !test_execution.compile_success%>
	<span class="badge badge-danger badge-pill"  data-bs-toggle="tooltip" data-bs-placement="top" title="<%= test_execution.command_output %>">Compilation failed</span>
<% end %>