<%= form_with(model: test_execution, local: true) do |form| %>
  <% if test_execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_execution.errors.count, "error") %> prohibited this test_execution from being saved:</h2>

      <ul>
        <% test_execution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :exercice_batch_id %>
    <%= form.text_field :exercice_batch_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
