<% if !test_execution.sources_found? && test_execution.compile_success %>
  <% text = test_execution.comment ? test_execution.comment : "Folder exists, but no exercice found" %>
	<span class="badge badge-danger badge-pill" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= text %>">Nothing found</span>
    <% group = test_execution.exercice_batch.exercice_groups.first %>
    <% if group and group.exercices.first%>
  		<%= link_to(find_exercice_code_exercice_path(group.exercices.first), data: {turbo: false}) do %>
  			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-code" viewBox="0 0 16 16">
          <path d="M6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
        </svg>
  	<% end %>
  <% end %>
	
<% end %>