<%= render partial: test_execution, layout: "test_executions/git_error_badge.html.erb" %>
<%= render partial: test_execution, layout: "test_executions/compile_badge.html.erb" %>
<%= render partial: test_execution, layout: "test_executions/nothing_found_badge.html.erb" %>

<% if test_execution.tests_available?%>
	<% if display_test_results? user, test_execution%>
		<%# return {total_count: total_count, not_found_count: not_found_count, failed_count: failed_count, correct_count: correct_count} %>
		<% resumee = test_execution.resumee %>
		<% aria_valuemax = resumee[:total_count] %>
		<% correct_count = resumee[:correct_count] %>
		<% failed_count = resumee[:failed_count] %>
		<% correct_percent = 100.0 * correct_count / resumee[:total_count] %>
		<% failed_percent = 100.0 * failed_count / resumee[:total_count] %>
		<%#= "#{aria_valuemax} #{correct_count} #{failed_count} #{correct_percent} #{failed_percent}"%>

		<div class="progress">
			<% if correct_count>0 %>
		  		<div class="progress-bar bg-success" role="progressbar" style="width: <%=correct_percent%>%" aria-valuenow="<%=correct_count%>" aria-valuemin="0" aria-valuemax="<%= aria_valuemax %>"><%=correct_count%></div>
		  	<% end %>
		  	<% if failed_count>0 %>
			  <div class="progress-bar bg-danger" role="progressbar" style="width: <%=failed_percent%>%" aria-valuenow="<%=failed_count%>" aria-valuemin="0" aria-valuemax="<%= aria_valuemax %>"><%=failed_count%></div>
			<% end %>
		</div>
	<% else %>
		<%= render partial: test_execution, layout: "test_executions/show_private_results" %>
	<% end %>
<% end %>