<% resumee = test_execution.resumee %>
<% not_found_count = resumee[:not_found_count] %>
<% total_count = resumee[:total_count] %>
<% exercices_found = total_count - not_found_count %>

<%= t :private_results %>

<% if not_found_count == 0 %>
  <%= t :all_exercices_found %>
<% else %>
  <%= t :not_all_exercices_found, total: total_count, found: exercices_found %>
<% end %>