<%= turbo_frame_tag test_execution do %>
  <p>
    <%= render partial: test_execution, layout: "test_executions/compile_badge" %>
    <%= render partial: test_execution, layout: "test_executions/nothing_found_badge" %>
  </p>

  <% if test_execution.comment %>
    <p><%= test_execution.comment %></p>
  <% end %>

  <p><%=link_to "test again", execute_tests_student_submission_path(test_execution.student_submission) %></p>
  <% if test_execution.test_report_file.attached? %>
    <p><%=link_to "View test xml report", url_for(test_execution.test_report_file) %></p>
  <% end %>



  <% if !test_execution.compile_success%>
    <div class="command_output"><%= simple_format(test_execution.command_output) %></div>
  <% end %>

  <% if !test_execution.folder_not_found %>
    <% @exercice_test_executions = test_execution.exercice_tests_executions.include_failures %>
    <% failures_count = @exercice_test_executions.count_failures %>
    <% if failures_count>0%>
      <% if display_test_results? current_user, test_execution %>
        <div class="div-table-striped">
          <% @exercice_test_executions.each do |exercice_tests_execution| %>
            <%= render exercice_tests_execution %>
          <% end %>
        </div>
      <% else %>
        <%= render partial: test_execution, layout: "test_executions/show_private_results" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>