<p id="notice"><%= notice %></p>

<h1>Test Executions</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Exercice batch</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_executions.each do |test_execution| %>
      <tr>
        <td><%= test_execution.student_submission.repository.git_url %></td>
        <td><%= test_execution.exercice_batch_id %></td>
        <td><%= test_execution.date %></td>
        <td><%= link_to 'Show', test_execution %></td>
        <td><%= link_to 'Edit', edit_test_execution_path(test_execution) %></td>
        <td><%= link_to 'Destroy', test_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Execution', new_test_execution_path %>
