<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @test_execution.student_repository.student.username %>
</p>

<p>
  <strong>Exercice batch:</strong>
  <%= @test_execution.exercice_batch.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @test_execution.date %>
</p>

<p>
  <strong>Compile success:</strong>
  <%= @test_execution.compile_success %>
</p>


<table class="table table-striped test_execution_result_table">
  <!--thead>
  </thead-->
  <tbody>
    <% @exercice_test_executions.each do |exercice_tests_execution| %>
      <tr>
        <%= render exercice_tests_execution %>
	  </tr>
	<% end %>
  </tbody>
</table>
