<%= form_with(model: student_submissions, local: true) do |form| %>
  <% if student_submissions.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_submissions.errors.count, "error") %> prohibited this student_submissions from being saved:</h2>

      <ul>
        <% student_submissions.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :exercice_batch_id %>
    <%= form.text_field :exercice_batch_id %>
  </div>

  <div class="field">
    <%= form.label :student_submissions_id %>
    <%= form.text_field :student_submissions_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
