<%= turbo_frame_tag dom_id(student_submission) do %>
  <div class="row p-3 border-bottom w-100">
    <div class="col-sm-3 exercice_batch_name">
      <%= student_submission.exercice_batch.name %>
    </div>
    <div class="col-sm-8">
      <% test_execution = student_submission.test_execution %>
      <% if test_execution %>
        <%= render partial: test_execution, layout: "test_executions/result_resumee", locals: {user: user}%>
      <% else %>
        <span class="badge badge-danger badge-pill">Never run</span>
      <% end %>
    </div>
    <div class="col-sm-1">
      <%= link_to "Re-Test", execute_tests_student_submission_path(student_submission) %>
    </div>
  </div>
<% end %>