<td>
  <%= student_submission.exercice_batch.name %>
</td>

<td>
  <%= student_submission.repository.git_url %>
</td>
<td>
	<%= link_to 'Execute Test', execute_tests_student_submission_path(student_submission) %>
</td>