<%= turbo_frame_tag dom_id(@student_submission) do %>
  <div class="row p-3 border-bottom w-100">
    <div class="col-sm-3 exercice_batch_name">
      <%= @student_submission.exercice_batch.name %>
    </div>
    <div class="col-sm-8 text-center">
      <%= image_tag("frog_eating_bug.gif", :alt => "waiting", height: "100px") %>
    </div>
    <div class="col-sm-1">
      Testing...
    </div>
  </div>
<% end %>