<h1>Import CSV</h1>

Select CSV with 3 columns: student full name (may be empy), student email, git url


<%= form_tag do_import_student_submissions_path, multipart: true do %>
	<%= select_tag :exercice_batch_id,  options_from_collection_for_select(@exercice_batches, "id", "name")%><br>
	<%= file_field_tag :file %><br>
	<%= submit_tag "Import csv" %><br>
<% end %>