<p id="notice"><%= notice %></p>

<h1>Student Repositories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Exercice batch</th>
      <th>Git url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_submissions.each do |student_submissions| %>
      <tr>
        <td><%= student_submissions.student.email %></td>
        <td><%= student_submissions.exercice_batch.name %></td>
        <td><%= student_submissions.git_url %></td>
        <td><%= link_to 'Show', student_submissions %></td>
        <td><%= link_to 'Edit', edit_student_submissions_path(student_submissions) %></td>
        <td><%= link_to 'Destroy', student_submissions, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Repository', new_student_submissions_path %>
<%= link_to 'Import Repositories', import_student_submissions_path %>