<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_submissions.student_id %>
</p>

<p>
  <strong>Exercice batch:</strong>
  <%= @student_submissions.exercice_batch_id %>
</p>

<p>
  <strong>Git url:</strong>
  <%= @student_submissions.repository.git_url %>
</p>

<%= link_to 'Edit', edit_student_submissions_path(@student_submissions) %> |
<%= link_to 'Back', student_submissions_path %>
