<%= simple_form_for(teacher) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :gitkey, as: :text, :input_html => { :cols => 80, :rows => 20 } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
