<%= turbo_frame_tag dom_id(teacher) do%>
  <div>
    <td><%= teacher.email %></td>
    <td><%= teacher.gitkey ? "OK" : "None" %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>