<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<%= turbo_stream_from :teachers %>
<%= turbo_frame_tag :teachers do %>
  <%= render @teachers%>
<% end %>



<br>

<%= link_to 'New Teacher', new_teacher_path %>
