<%= form_with(model: check_style_failure, local: true) do |form| %>
  <% if check_style_failure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_style_failure.errors.count, "error") %> prohibited this check_style_failure from being saved:</h2>

      <ul>
        <% check_style_failure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exercice_tests_execution_id %>
    <%= form.text_field :exercice_tests_execution_id %>
  </div>

  <div class="field">
    <%= form.label :line %>
    <%= form.text_field :line %>
  </div>

  <div class="field">
    <%= form.label :column %>
    <%= form.text_field :column %>
  </div>

  <div class="field">
    <%= form.label :severity %>
    <%= form.text_field :severity %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
