<p id="notice"><%= notice %></p>

<h1>Check Style Failures</h1>

<table>
  <thead>
    <tr>
      <th>Exercice tests execution</th>
      <th>Line</th>
      <th>Column</th>
      <th>Severity</th>
      <th>Message</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_style_failures.each do |check_style_failure| %>
      <tr>
        <td><%= check_style_failure.exercice_tests_execution_id %></td>
        <td><%= check_style_failure.line %></td>
        <td><%= check_style_failure.column %></td>
        <td><%= check_style_failure.severity %></td>
        <td><%= check_style_failure.message %></td>
        <td><%= check_style_failure.source %></td>
        <td><%= link_to 'Show', check_style_failure %></td>
        <td><%= link_to 'Edit', edit_check_style_failure_path(check_style_failure) %></td>
        <td><%= link_to 'Destroy', check_style_failure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check Style Failure', new_check_style_failure_path %>
