<p id="notice"><%= notice %></p>

<p>
  <strong>Exercice tests execution:</strong>
  <%= @check_style_failure.exercice_tests_execution_id %>
</p>

<p>
  <strong>Line:</strong>
  <%= @check_style_failure.line %>
</p>

<p>
  <strong>Column:</strong>
  <%= @check_style_failure.column %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @check_style_failure.severity %>
</p>

<p>
  <strong>Message:</strong>
  <%= @check_style_failure.message %>
</p>

<p>
  <strong>Source:</strong>
  <%= @check_style_failure.source %>
</p>

<%= link_to 'Edit', edit_check_style_failure_path(@check_style_failure) %> |
<%= link_to 'Back', check_style_failures_path %>
