<div class="p-3 border-bottom w-100">
	<div class="row">
		<div class="col-sm-3 exercice-name-column">
			<b><%= exercice_tests_execution.exercice.class_name %></b>
		</div>

		<div class="col-sm-2 check-style-column">
			<% if !exercice_tests_execution.check_style_failure.empty? %>
				<span class="badge badge-danger badge-pill">Check style failed</span>
				<% if exercice_tests_execution.check_style_failure.any? {|f| f.naming_issue?} %>
					<%= image_tag "camel.svg", width: "20sp" %>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-6">
			<% progress_rate =  exercice_tests_execution.success_rate %>
			<% progress_text = "#{progress_rate*100}%" %>
			<% progress_width =  progress_rate*100 %>
			<% type = "success" %>
			<% if exercice_tests_execution.source_found
				 if progress_rate == 0 
				 	progress_width = 100
				 	type = "danger"
				 elsif progress_rate<1
					type = "warning"
				 end
				else
					progress_text = ""
				end %>
			<div class="progress">
			  <div class="progress-bar bg-<%= type %>" role="progressbar" style="width: <%= progress_width %>%" aria-valuenow="<%= progress_width %>" aria-valuemin="0" aria-valuemax="100"><%= progress_text %></div>
			</div>
		</div>
	</div>
	<div class="row test_details">
		<%# if display_test_details? %>
			<div class="col-sm-2"></div>
			<div class="col-sm-10 test-results-column">
				<% if exercice_tests_execution.source_found and !exercice_tests_execution.success? %>
					<table class="table test-result-details table-sm ml-2 mt-2">
						<% exercice_tests_execution.test_case_executions.each do |test_case_execution| %>
							<%= render test_case_execution %>
						<% end %>
					</table>
				<% end %>
			</div>

	<%# end %>
	</div>
	<% if !exercice_tests_execution.check_style_failure.empty? %>
		<div class="row check-style" data-test-execution-target="checkStyleDetail">
			<ul>
				<% exercice_tests_execution.check_style_failure.all.map{|x| x.message }.each do |message|%>
					<li><%=message%></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<% if exercice_tests_execution.sources %>
		<div class="row source-code highlight">
			<pre><code>
			   <%= raw rouge(exercice_tests_execution.sources.first["source"], "kotlin") %>
			</code></pre>
		</div>
	<% end%>
</div>