<%= form_with(model: exercice_tests_execution, local: true) do |form| %>
  <% if exercice_tests_execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercice_tests_execution.errors.count, "error") %> prohibited this exercice_tests_execution from being saved:</h2>

      <ul>
        <% exercice_tests_execution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :test_execution_id %>
    <%= form.text_field :test_execution_id %>
  </div>

  <div class="field">
    <%= form.label :exercice_id %>
    <%= form.text_field :exercice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
