<h1>Editing Exercice Tests Execution</h1>

<%= render 'form', exercice_tests_execution: @exercice_tests_execution %>

<%= link_to 'Show', @exercice_tests_execution %> |
<%= link_to 'Back', exercice_tests_executions_path %>
