<p id="notice"><%= notice %></p>

<h1>Exercice Tests Executions</h1>

<%= turbo_stream_from :exercice_tests_executions %>
    <%= turbo_frame_tag :exercice_tests_executions do %>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Test execution</th>
            <th>Exercice</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
            <% @exercice_tests_executions.each do |exercice_tests_execution| %>
              <tr>
                <td><%= exercice_tests_execution.id %></td>
                <td><%= exercice_tests_execution.test_execution_id %></td>
                <td><%= exercice_tests_execution.exercice_id %></td>
                <td><%= link_to 'Show', exercice_tests_execution %></td>
                <td><%= link_to 'Edit', edit_exercice_tests_execution_path(exercice_tests_execution) %></td>
                <td><%= link_to 'Destroy', exercice_tests_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
<% end %>

<br>

<%= link_to 'New Exercice Tests Execution', new_exercice_tests_execution_path %>
