<p id="notice"><%= notice %></p>

<p>
  <strong>Test execution:</strong>
  <%= @exercice_tests_execution.test_execution_id %>
</p>

<p>
  <strong>Exercice:</strong>
  <%= @exercice_tests_execution.exercice_id %>
</p>

<%= link_to 'Edit', edit_exercice_tests_execution_path(@exercice_tests_execution) %> |
<%= link_to 'Back', exercice_tests_executions_path %>
