<%= form_with(model: test_case, local: true) do |form| %>
  <% if test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
        <% test_case.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exercice_id %>
    <%= form.text_field :exercice_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
