<p id="notice"><%= notice %></p>

<p>
  <strong>Exercice:</strong>
  <%= @test_case.exercice_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @test_case.name %>
</p>

<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
