// Place all the styles related to the ExerciceTestsExecutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.test_execution_result_table{
	.progress{
		width: 100px;
	}
}

.table.test-result-details {
	margin-bottom: 0px;
	tr, td {
		background-color: inherit !important;
	}
}

.hide-sources .source-code{
  display: none;
}


.hide-check-style .check-style{
  display: none;
}