@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.hide{
	display: none !important;
}

.navbar {
  .gripau-icon{
    height: 30px;
    width: 30px;
  }
}

.gripau-title{
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}

/*.div-table-striped .row:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
}*/

.div-table-striped turbo-frame:nth-child(odd) .row {
    background-color: rgba(0, 0, 0, 0.05);
}