#no-session{
  background-color: #fP5f5f5;

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .gripau-icon{
    height: 200px;
  }
  .gripau-title{
    padding-top: 80px;
    font-size: 70px;
  }
}