<%= form_with(model: exercice_group, local: true) do |form| %>
  <% if exercice_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercice_group.errors.count, "error") %> prohibited this exercice_group from being saved:</h2>

      <ul>
        <% exercice_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name %>
  </div>

  <div class="field">
    <%= form.label :exercice_batch_id %>
    <%= form.text_field :exercice_batch_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
