<p id="notice"><%= notice %></p>

<h1>Exercice Groups</h1>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Exercice batch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercice_groups.each do |exercice_group| %>
      <tr>
        <td><%= exercice_group.class_name %></td>
        <td><%= exercice_group.exercice_batch_id %></td>
        <td><%= link_to 'Show', exercice_group %></td>
        <td><%= link_to 'Edit', edit_exercice_group_path(exercice_group) %></td>
        <td><%= link_to 'Destroy', exercice_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercice Group', new_exercice_group_path %>
