<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @exercice_group.class_name %>
</p>

<p>
  <strong>Exercice batch:</strong>
  <%= @exercice_group.exercice_batch_id %>
</p>

<%= link_to 'Edit', edit_exercice_group_path(@exercice_group) %> |
<%= link_to 'Back', exercice_groups_path %>
