<%= form_with(model: exercice, local: true) do |form| %>
  <% if exercice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

      <ul>
        <% exercice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name %>
  </div>

  <div class="field">
    <%= form.label :exercice_batch_id %>
    <%= form.text_field :exercice_batch_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
