<% user_package = current_student.main_package %>
<p>Usa el següent codi per comprovar si el codi està en el lloc correcte</p>
<p>El programa hauria d'imprimir File Found</p>

<pre><code>
fun main(){
    val mainPackage = "<%=user_package%>"
    val suiteSubPackage = "<%= @exercice.java_package %>"
    val className = "<%= @exercice.class_name %>"
    val fullClassName = "$mainPackage.$suiteSubPackage.${className}Kt"

    try {
        val clazz = Class.forName(fullClassName)
        println("File Found")
    } catch (e: ClassNotFoundException){
        println("File not Found")
    }
}
</code></pre>