<p id="notice"><%= notice %></p>

<h1>Exercices</h1>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Exercice batch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercices.each do |exercice| %>
      <tr>
        <td><%= exercice.class_name %></td>
        <td><%= exercice.exercice_batch_id %></td>
        <td><%= link_to 'Show', exercice %></td>
        <td><%= link_to 'Edit', edit_exercice_path(exercice) %></td>
        <td><%= link_to 'Destroy', exercice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercice', new_exercice_path %>
