<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @exercice.class_name %>
</p>

<p>
  <strong>Exercice batch:</strong>
  <%= @exercice.exercice_batch_id %>
</p>

<%= link_to 'Edit', edit_exercice_path(@exercice) %> |
<%= link_to 'Back', exercices_path %>
