<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <%= image_tag("toad_colored_outlined.svg", :alt => "gripau-icon", class:"d-inline-block align-top gripau-icon",  loading: "lazy") %>
    <span class="gripau-title">Gripau</span>
  </div>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if current_teacher %>
        <li class="nav-item">
          <%= link_to 'Students', index_with_results_students_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Exercicis', exercice_batches_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Admin Students', students_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Repositories', student_repositories_path, class:"nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Submissions', student_submissions_path, class:"nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Admin', admins_path , class:"nav-link" %>
        </li>    
      <% end %>
    </ul>
    <div class="my-2 my-lg-0">
      <%= current_user.email %>
      <%= link_to('Logout', destroy_user_session_path) %>
    </div>
  </div>
</nav>