<!DOCTYPE html>
<html>
  <head>
    <title>Gripau</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container">
      <%= render_flash_messages %>
      
      <%= render partial: "layouts/teacher_nav_bar" %>
      
      <%= yield %>
    </div>
  </body>
</html>
